:root {
    --primary-color: #FEB204;
    --secondary-color: #3A9F55;
    --icon-color: #006877;
    --text-primary: #252524;
    --text-secondary:#4d4d4a;
    --background: #ffffff;
}

*{
    box-sizing: border-box;
}

h2,
h3,
a{
    color: var(--text-primary);
}

p{
    color: var(--text-secondary);
}

body{
    background-color: var(--background);
}

main {
    margin-top: 20px;
    padding-bottom: 20px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    z-index: 3;
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}
  
  /* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}

body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


header{
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    height: 80px;
    background-color: var(--background);
}

.logo h1{
    margin: 0;
}

nav{
    display: flex;
    width: 25vw;
    box-sizing: border-box;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: var(--text-primary);
    padding: 5px 10px 5px 10px;
}
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 50px;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

.active{
    padding-bottom: 5px;
    color: var(--secondary-color);
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}

.hamburger{
    display: none;
}

.button{
    color: var(--secondary-color);
    font-weight: bolder;
    text-decoration: none;
    color: black;
}


/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    nav{
        display: flex;
        width: 35vw;
        box-sizing: border-box;
        justify-content: space-between;
    }
}

/* mobile responsive */
@media (max-width: 767px) {
    header{
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
    }
    .logo h1{
        font-size: 2rem;
    }
    nav{
        position: fixed;
        justify-content: space-evenly;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color:white;
        width: 100%;
        height: 80vh;
        text-align: center;
        transition: 0.3s;
        overflow: hidden;
        z-index: 3;
    }

    nav.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 4;
        margin-top: 10px;
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
