<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="canonical" href="{{.canonical}}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Menerima jasa pengerjaan proyek sipil, 
        seperti bangun rumah, 
        Kontruksi, proyek penggalian tanah dan lainnya.">
    <link rel="stylesheet" href="https://ik.imagekit.io/ea6ykw8e2b/css/style.min_8CivCyyJp.css?updatedAt=1628493165632" media="all">
    <!-- <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/contact.css"> -->
    <title>{{ .Title}}</title>
</head>

<body>
    <header>
        {{ render "partials/header.html" }}
    </header>
    <main>
        {{ yield }}
    </main>

    <footer>
        {{ render "partials/footer.html" }}
    </footer>
    <script src="https://ik.imagekit.io/ea6ykw8e2b/js/index_qbYKo_ev8.js?updatedAt=1628493424538" defer></script>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</body>

</html>