<style>
  /* Set height to 100% for body and html to enable the background image to cover the whole page: */

  main {
    /* Background image */
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    /* Full-screen */
    height: 80vh;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
  }

  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .bgimg p{
    color: white;
  }

  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }
</style>

<div class="bgimg">
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p id="demo" style="font-size:30px"></p>
  </div>
<script src="js/comming-son.js"></script>