<div id="form">
    <article>
        <h2>Kontak kami.</h2>
        <p>Ada beberapa cara untuk bisa menghubungi salah satu contact di website ini, </p>
        <ul>
            <li>Tepat</li>
        </ul>
    </article>

    <form action="" method="get" class="form">
        <label for="fname">Full Name</label>
        <input type="text" name="fname" id="fname">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="tel">Telephone</label>
        <input type="tel" name="tel" id="tel">
        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>


<iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?q=Jasa%20tukang%20bangunan%20Jabodetabek%2C%20Jalan%20Bendungan%20Jago%2C%20RT.4%2FRW.3%2C%20Serdang%2C%20Central%20Jakarta%20City%2C%20Jakarta%2C%20Indonesia&key=AIzaSyB8jLbWIIzl73qJlU97Go3RchBjFd4GTs8"></iframe>