<div class="footer-content">
    <section>
        <h3>Person</h3>
        <aside>
            <div class="person" itemscope itemtype="http://schema.org/Person">
                <div class="name-scope">
                    <div class="name-person">
                        <img src="icons/man-person.svg" alt="boy services support" class="lazyload">
                        <span itemprop="name">dhikrama</span>,
                    </div>
                    <div class="name-person">
                        <img src="icons/tel.svg" alt="icon telephone">
                        <span itemprop="telephone">+62 851 5643 6826</span>,
                    </div>
                </div>
                <div class="name-scope">
                    <div class="job">
                        <img src="icons/briefcase.svg" alt="icon telephone" class="lazyload">
                        <span itemprop="jobTitle">Web Developer</span>
                    </div>
                    <div class="job" itemprop="worksFor" itemscope itemtype="https://schema.org/Corporation">
                        <img src="icons/briefcase.svg" alt="icon telephone" class="lazyload">
                        <span itemtype="name">Dhikrama Group</span>,
                    </div>
                </div>

                <div class="name-scope">
                    <img src="icons/house.svg" alt="house icon">
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">JL.Bend Jago RT 004/003 Serdang kemayoran</span>,
                        <span itemprop="addressRegion">Dki Jakarta</span>
                    </span>
                </div>
            </div>
            <div class="social-media">
                <div class="icon">
                    <img src="icons/facebook.svg" alt="facebook icon" class="lazyload">
                </div>
                <div class="icon">
                    <img src="icons/instagram.svg" alt="instagram icon" class="lazyload">
                </div>
                <div class="icon">
                    <img src="icons/youtube.svg" alt="youtube icon" class="lazyload">
                </div>
            </div>
        </aside>

    </section>

    <section>
        <h3>Services Us</h3>
        <div class="menus-services">
            <ul>
                <li><a href="#">Renovasi</a></li>
                <li><a href="#">Kontruksi</a></li>
            </ul>
            <ul>
                <li><a href="#">Urugan tanah</a></li>
                <li><a href="#">Buang Puing</a></li>
            </ul>
            <ul>
                <li><a href="#">Urugan tanah</a></li>
                <li><a href="#">Buang Puing</a></li>
            </ul>
        </div>
    </section>

    <section>
        <h3>About</h3>
        <div class="logo-footer">
            kang Bangunan
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum neque nobis incidunt ut tempora voluptatum
            eligendi laborum in molestiae pariatur?</p>
    </section>
</div>

<div class="copyright">
    copyright dhikrama group
</div>