<div class="logo">
    <h1><a href="#">Kang Bangunan</a></h1>
</div>
<nav id="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <meta itemprop="name" content="Navigation Menu">
    <a itemprop="url" href="/"><span itemprop="name">Home</span></a>
    <a itemprop="url" href="/services-us"><span itemprop="name">Services</span></a>
    <a itemprop="url" href="/contact-us"><span itemprop="name">Contact</span></a>
    <a itemprop="url" href="/about-us"><span itemprop="name">About Us</span></a>
</nav>
<div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>